.card-row {
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

    .card {
        background-color: govuk-colour('light-grey');
        display: flex;
        flex-direction: column;
        flex: 1 0 298px;
        max-width: 298px;
        overflow-wrap: anywhere;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }

        &__body {
            margin: govuk-spacing(5) govuk-spacing(5) 10px govuk-spacing(5);
        }

        &__body.time-restriction {
            .day-restrictions-list {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;

                    .day {
                        flex: 0 0 50px;
                    }

                    .day-restriction.not-valid {
                        color: $govuk-secondary-text-colour;
                    }
                }
            }
        }

        &__actions {
            .actions__list {
                float: right;
                list-style: none;
                margin: 0 0 10px 8px;
                padding: 0;
            }

            .actions__delete {
                padding: 0;
                border: 0;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &__selector {
            padding: 0 0 6px 0;
            margin-left: 8px;
            margin-right: 8px;
            float: right;
        }
    }
}

.card_align {
    align-self: bottom;
}
