.card {
    &__body {
        box-sizing: border-box;
        height: 225px;
        background-color: govuk-colour('light-grey');
        padding: govuk-spacing(5) govuk-spacing(5) 10px govuk-spacing(5);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }

    &__actions {
        .actions__list {
            float: right;
            list-style: none;
            margin: 0 0 10px 0;
            padding: 0;

            .action__item {
            }
        }

        .actions__delete {
            color: govuk-colour('red');
        }
    }
}
