.dft-flex {
    display: flex;
}

.dft-flex-justify-space-between {
    justify-content: space-between;
}

/* table helpers */
.dft-table-wrap-anywhere {
    overflow-wrap: anywhere;
}

.dft-table-fixed-width-cell {
    width: 240px;
}

.dft-table-tag {
    display: block;
    text-align: center;

    &:not(:first-of-type) {
        margin: 0.5rem 0 0 0;
    }
}

.dft-text-align-centre {
    text-align: center;
}

.dft-padding-left {
    padding-left: 2.5rem !important;
}

.margin-top {
    margin-top: 15px;
}
