.dft-flex {
    display: flex;
}

.dft-flex-justify-space-between {
    justify-content: space-between;
}

/* table helpers */
.dft-table-wrap-anywhere {
    overflow-wrap: anywhere;
}

.dft-table-fixed-width-cell {
    width: 240px;
}

.dft-text-align-centre {
    text-align: center;
}

.dft-four-fifths-width {
    width: 80%;
}
