.app-navigation {
    font-family: 'gds transport', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: govuk-tint(govuk-colour('light-grey'), 50%);

    .app-navigation__list {
        position: relative;
        left: -15px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }

    .app-navigation__list-item {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: relative;
        height: 50px;
        padding: 0 15px;
        float: left;
        line-height: 50px;
    }

    .app-navigation__list-item--current {
        border-bottom: 5px solid $govuk-brand-colour;

        .app-navigation__link {
            text-decoration: none;

            &:not(:focus):hover {
                color: $govuk-brand-colour;
            }
        }
    }
}
