.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;

    .app-subnav__section-item {
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;

        .app-subnav__link {
            font-weight: normal;

            &:hover {
                text-underline-offset: 0.3em;
                text-decoration-thickness: 3px;
            }

            &:not(:focus):hover {
                color: #1d70b8;
            }
        }

        &--current {
            margin-left: -14px;
            padding-left: 10px;
            border-left: 4px solid #1d70b8;
            background-color: #fff;

            .app-subnav__link {
                font-weight: bold;
            }
        }
    }
}
