@import '../../node_modules/govuk-frontend/govuk/all';

.index-page-list {
    list-style-type: disc;
    line-height: 35px;
}

.fare-triangle-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.fare-cell:not(:first-child)[class] {
    border-bottom: none;
    border-left: none;
}

.fare-cell:first-child[class] {
    border-bottom: none;
}

.fare-triangle {
    padding-bottom: 40px;
}

.fare-triangle-cell[class] {
    margin: auto 0;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.fare-triangle-cell:hover[class] {
    overflow: visible;
}
