@import '../../node_modules/govuk-frontend/govuk/all';

.index-page-list {
    list-style-type: disc;
    line-height: 35px;
}

.fare-triangle {
    padding-bottom: 40px;

    .fare-triangle-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .fare-triangle-row:not(:last-child) .fare-triangle-input {
        border-bottom: none;
    }

    .fare-triangle-input:not(:first-child) {
        border-left: none;
    }

    .fare-triangle-label {
        margin: auto 0;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 7px;
    }

    .fare-triangle-label:hover {
        overflow: visible;
    }
}

.matching-page {
    .matching-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        justify-content: center;
    }

    .matching-stop-name {
        width: 60%;
        margin-right: 20px;
    }

    .matching-stop-header {
        width: 60%;
        margin-right: 20px;
    }

    .naptan-code-header {
        width: 20%;
    }

    .fare-stage-header {
        width: 20%;
    }

    .naptan-code {
        margin-left: auto;
        width: 20%;
    }

    .farestage-select-wrapper {
        margin-left: auto;
        width: 20%;
    }
}
