@import '../../node_modules/govuk-frontend/govuk/all';

.file-attachment {
    display: flex;
    margin-top: 40px;

    .file-attachment-thumbnail {
        margin-right: 20px;
        outline: 5px solid rgba(11, 12, 12, 0.1);
        box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
    }

    .file-attachment-metadata {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

        abbr[title] {
            text-decoration: none;
        }
    }
}

.govuk-currency-input {
    &__inner {
        position: relative;

        &__unit {
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            font-size: 20px;
            left: 10px;
            bottom: -4px;
            font-weight: 700;
            transform: translateY(-50%);
        }

        &__input {
            padding-left: 22px;
        }
    }
}

.flex-container {
    display: flex;
    align-items: flex-end;
}
