@import '../../node_modules/govuk-frontend/dist/govuk/index';
@import './modules/_layout.scss';
@import './modules/_components.scss';
@import './modules/_pages.scss';
@import './modules/spinner.scss';

// import header styles
@import './modules/_header.scss';

// import navigation styles
@import './modules/_navigation.scss';

// import sub-navigation styles
@import './modules/_sub-navigation.scss';

// import phase banner styles
@import './modules/_phase-banner.scss';

// import card styles
@import './modules/_cards.scss';

// import pop up styles
@import './modules/_popups.scss';

// import help styles
@import './modules/_helpers.scss';
