@import '../../node_modules/govuk-frontend/govuk/all';

.index-page-list {
    list-style-type: disc;
    line-height: 35px;
}

.fare-triangle-container {
    display: flex;

    .fare-triangle-column {
        .fare-triangle-label-left {
            display: flex;
            height: 40px;
            margin: 0;
            flex: 0 0 auto;
            width: 125px;
            white-space: nowrap;

            span {
                margin: auto 0;
                overflow: hidden;
                text-overflow: ellipsis;
                background: #fff;
                padding: 6px;
            }

            span:hover {
                overflow: visible;
                z-index: 1;
            }
        }
    }

    .fare-triangle {
        overflow-x: auto;
        width: 100%;
        margin-bottom: 40px;

        .fare-triangle-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
        }

        .fare-triangle-row:not(:last-child) .fare-triangle-input {
            border-bottom: none;
        }

        .fare-triangle-input {
            flex: 0 0 auto;
        }

        .fare-triangle-input-white {
            background-color: govuk-colour('white');
        }

        .fare-triangle-input-light-grey {
            background-color: govuk-colour('light-grey');
        }

        .fare-triangle-input:not(:nth-child(1)) {
            border-left: none;
        }

        .fare-triangle-label-right {
            flex: 0 0 auto;
            margin: auto 0;
            width: 125px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 7px;
        }

        .fare-triangle-label-right:hover {
            overflow: visible;
        }
    }
}

.matching-page {
    .matching-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        justify-content: center;
    }

    .matching-stop-name {
        width: 60%;
        margin-right: 20px;
    }

    .matching-stop-header {
        width: 60%;
        margin-right: 20px;
    }

    .naptan-code-header {
        width: 20%;
    }

    .fare-stage-header {
        width: 20%;
    }

    .naptan-code {
        margin-left: auto;
        width: 20%;
    }

    .farestage-select-wrapper {
        margin-left: auto;
        width: 20%;
    }
}

.multiple-product-validity-page {
    .grid-headers-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-content-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 0px 5px 0px;
        justify-content: center;
        border-top: solid 1px rgb(160, 160, 160);
    }

    .grid-column-header-one-fifth {
        width: 20%;
    }

    .grid-column-content-one-fifth {
        width: 20%;
    }

    .validity-select-wrapper {
        width: 40%;
    }

    .validity-radio-button-margin {
        margin-right: 100px;
    }

    .validity-radio-button-error-margin {
        margin-right: 95px;
    }

    .header-text-alignment {
        padding-right: 20px;
    }

    .visually-hidden-label {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap; /* added line */
    }
}

.stage-name-input-field {
    margin-bottom: 10px;
}

.input-error {
    margin-left: -20px;
}

.input-form {
    margin-top: 40px;
}
