# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
buckets
.idea

# VSCode settings
.vscode
**/.DS_Store

# NeTEX output directory
src/netex-convertor/output

__pycache__